@use '@/scss/base/variables' as *;

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: $component-gap;
    
    input {
        display: none;
    }
    
    &__checkmark {
        position: absolute;
        height: $icon-size * 1.33;
        width: $icon-size * 1.33;
        background-color: var(--color-background);
        border: $icon-stroke-width solid var(--color-primary);
        border-radius: calc($component-border-radius - $icon-stroke-width);
        transition: $component-transition;
        margin: $icon-stroke-width;

        &:after {
            content: '';
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: calc($component-border-radius - $icon-stroke-width);
            width: $icon-size;
            height: $icon-size;
            background-color: var(--color-primary);
        }
    }

    &__label {
        margin-left: var(--spacing-5);
        font-size: $component-font-size;
        color: var(--color-text);
    }

    &:hover &__checkmark {
        border-color: var(--color-primary);
    }
    
    input:checked ~ &__checkmark {
        &:after {
            display: block;
        }
    }
}

