@use '@/scss/base/variables' as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc($component-padding * 2);

  &__list {
    display: flex;
    gap: $component-gap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__page,
  &__first,
  &__last,
  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $component-height;
    height: $component-height;
    padding: 0 $component-padding;
    font-size: $component-font-size;
    color: var(--color-text);
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    transition: $component-transition;
    border-radius: $component-border-radius;

    &:hover {
      color: var(--color-primary);
      background-color: rgba(var(--color-primary-rgb), $component-shadow-opacity);
    }
  }

  &__current {
    font-weight: bold;
    pointer-events: none;
    color: var(--color-primary);
    background-color: rgba(var(--color-primary-rgb), $component-shadow-opacity);
  }

  &__disabled {
    opacity: 0.4;
    pointer-events: none;
    color: var(--color-text-secondary);
  }

  &__info {
    margin-left: calc($component-padding * 2);
    font-size: $component-font-size;
    color: var(--color-text-secondary);
    align-self: center;
  }
}
