.form {
    &--search {
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;

        input[type="search"] {
            flex: 1;
            height: 100%;
            padding: 0;
            margin: 0;
            display: flex;
        }

        button, input[type="submit"] {
            display: flex;
            background-color: transparent;
            border: none;
            cursor: pointer;
            height: 100%;
            padding: 0 12px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-text-primary);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
        }
    }
}