@use '@/scss/base/variables' as *;

.toggle-switch {
  display: flex;
  gap: $component-gap;

  &__wrapper {
    position: relative;
    display: inline-block;
    width: $component-height;
    height: calc($component-height * 0.6);
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;

    &:checked + .toggle-switch__slider {
      background-color: var(--color-primary);
    }

    &:checked + .toggle-switch__slider:before {
      transform: translateX($component-height * 0.4);
    }

    &:disabled + .toggle-switch__slider {
      background-color: var(--color-background-disabled);
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-border);
    transition: $component-transition;
    border-radius: 100px;

    &:before {
      position: absolute;
      content: "";
      height: calc($component-height * 0.45);
      width: calc($component-height * 0.45);
      left: calc($component-padding * 0.25);
      bottom: calc($component-padding * 0.25);
      background-color: var(--color-background);
      transition: $component-transition;
      border-radius: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $component-gap;
  }

  &__label {
    margin: 0;
    font-size: $component-font-size;
    color: var(--color-text);
  }

  &__description {
    margin: 0;
    font-size: $component-font-size-small;
    color: var(--color-text-secondary);
  }
} 