:root {
    // Default
    --border-radius: 4px;

    // Radius
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 8px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 32px;
    --border-radius-3xl: 64px;
    --border-radius-4xl: 128px;
    --border-radius-5xl: 256px;
}