:root {
    --lively-error-color: rgba(237, 38, 85, 1);
    --lively-error-background-color: rgba(237, 38, 85, 0.2);
    --lively-error-text-color: #fff;

    --lively-warn-color: rgba(241, 60, 0, 1);
    --lively-warn-background-color: rgba(241, 60, 0, 0.2);
    --lively-warn-text-color: #fff;

    --lively-success-color: rgba(44, 187, 15, 1);
    --lively-success-background-color: rgba(44, 187, 15, 0.2);
    --lively-success-text-color: #fff;

    --lively-info-color: rgba(0, 114, 171, 1);
    --lively-info-background-color: rgba(0, 114, 171 0.2);
    --lively-info-text-color: #fff;

    --lively-space: 4px;
}

.lively-loading {
    position: relative;
    pointer-events: none;
}

.lively-error {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.lively-error-highlight {
    position: relative;
    padding: var(--lively-space);
}

.lively-error-highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lively-error-background-color);
    border: 1px dashed var(--lively-error-color);
}

.lively-error-message {
    position: fixed;
    bottom: var(--lively-space);
    left: var(--lively-space);
    right: var(--lively-space);
    background-color: var(--lively-error-color);
    color: var(--lively-error-text-color);
    padding: var(--lively-space);
    text-align: center;
    z-index: 1000;
}



